@model LoginViewModel

@{
    ViewData["title"] = "Login";
}

<div class="row">
    <div style="justify-content: center; display: flex;">
        <h2>Login</h2>
    </div>
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3"></div>
        <form asp-action="login">
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="login" class="btn btn-primary"/>
            </div>
            <a asp-action="Register">Register</a>
        </form>
    </div>
</div>

